.container {
  background: #fff;
  // margin: 0px 100px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  .contentWrapper {
    display        : flex;
    justify-content: flex-end;
    padding         : 20px 24px;
    height         : 100%;

      .btnAdd {
        display    : flex;
        align-items: center;
        .iconPlus {
          width       : 10.75px;
          height      : 11.25px;
          margin-right: 8px;
        }
      }
      .btnBuyBook{
        display    : flex;
        align-items: center;
        margin-right: 1rem;
        .iconPlus {
          width       : 10.75px;
          height      : 11.25px;
          margin-right: 8px;
        }
      }
  }
}

@media only screen and (max-width: 650px){
  .container {
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin: 0 0;
    .contentWrapper {
      display        : flex;
      justify-content: space-between;
      padding         : 10px 12px;
      height         : 100%;
  
      .titleHead {
        height     : 28px;
        font-size  : 16px;
        font-weight: 500;
        line-height: 28px;
        color      : rgba(0, 0, 0, 0.85);
      }
      
      .filterWrapper {
        display: flex;
        :global {
          .ant-form-item {
            margin: 0;
          }
        }

        .selectSort {
          margin-bottom: 0.5rem;
        }

        .keyword {
          width       : 200px;
        }

      }

      .btnAdd {
        display    : flex;
        align-items: center;
        align-self: center;
        .iconPlus {
          width       : 10.75px;
          height      : 11.25px;
          margin: 0;
        }
        .btnText {
          display: none;
        }
      }
    }
    
  }
}


