.listContainer {
  :global {
    .ant-list-item-meta-title{
      margin: 0;
    }
    .ant-list-item-meta-avatar{
      align-self: center;
    }
  }
  .friendItem {
    background-image: linear-gradient(#e6f4ff 0 0);
    background-size: 200% .08em; /* .08em is our fixed height; modify as needed. */
    background-position:  200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
    &:hover {
      transition: background-size .3s .3s, background-position .3s;
      background-size: 200% 100%;
      background-position: 100% 100%;
    }
  }
}
