.profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;

  :global {
    .ant-upload{
      width: 120px !important;
      height: 120px !important;
    }
    .ant-upload-wrapper{
      width: 120px !important;
    }
  }
  .avatarContainer {
    display: flex;
    margin-right: 24px;
  }

  .infoGroup{
    display: flex;
    flex-direction: column;
    p{
      margin: 5px 0;
    }
    margin-left: 1rem;
  }
  .btnGroup {
    align-self: flex-end;
    justify-self: flex-end;
  }
  

}

@media screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column;
    align-items: flex-start;

    .avatarContainer {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px){
  .mainContainer {
    margin: 0;
    .profile {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      height: 70vh;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .editInfo {
        align-self: end;
        margin: 16px;
      }
      .info {
        width: 70%;
        margin-bottom: 15vh;
      }
    }
  }
}

@media only screen and (max-width: 500px){
  .mainContainer {
    margin: 0;
    .profile {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      border-radius: 2px;
      height: 70vh;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .editInfo {
        align-self: end;
        margin: 16px;
      }
      .info {
        width: 85%;
        margin-bottom: 15vh;
      }
    }
  }
}