.container {
  margin: 0 100px;

  // .cardContainer{
  //   padding: 0 50px;
  // }
  .paymentMethod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    .btnPayment {
      justify-content: center;
      width: 80%;
      margin-bottom: 4rem;

    }
  }
}